p{
	color: pink;

}


body {
  background-color: rosybrown;
}




p{
	font-size:large;}


	h1{
		color: purple;

	}

	h2{
		color: pink;
		background-color: palegreen;
		font-style: italic;
		font-size: x-large;
	}

	<